.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 200px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

h1 {
    font-family: Garamond;
}

h3 {
    font-family: Garamond;
}

label {
    font-family: Garamond;
    font-weight: 1000;
}

.desc {
    padding: 15px;
    text-align: center;
    font-family: Garamond;
    font-weight: 1000;
}

.floating-box-1 {
    float: left;
    width: 100px;
    height: 125px;
    margin: 10px;
}

.floating-box {
    float: left;
    width: 300px;
    height: 125px;
    margin: 10px;
}

.parent {
    overflow: hidden;
    border: red;
}

.inputWrapper {
    height: 68px;
    width: 75px;
    position: relative;
    cursor: pointer;
    float: left;
    margin-right: 20px;
    /*Using a background color, but you can use a background image to represent a button*/
    /*background-color: #DDF*/
}
.fileInput {
    cursor: pointer;
    height: 50;
    width:50;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size:50px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

/*<div class="parent">
    <div class="inputWrapper">
        <input class="fileInput" type="file" name="image1" height="100" width="50"/>
        FRONT
        <img src="http://www.artic.edu/aic/collections/citi/resources/_JaharisLaunchPad/RS3A_ptolemy_obverse%20copy.png" height="50" width="50">
    </div>
    <div class="inputWrapper">
        <input class="fileInput" type="file" name="image2" height="100" width="50"/>
        BACK
        <img src="http://www.artic.edu/aic/collections/citi/resources/_JaharisLaunchPad/RS3A_ptolemy_obverse%20copy.png" height="50" width="50">
    </div>
    </div>*/